@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

/**********RESET AND OTHER PERSONAL CFGS ************/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

@font-face {
    font-family: 'Acre';
    src: url('../otf/Acre.otf') format('opentype');
    font-weight: 500;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    box-sizing: border-box;
}

p {
    margin-bottom: 10px;
}

/*
font-family: 'Montserrat', sans-serif;
font-family: 'Acre', sans-serif;
*/

:root {
    --main-color: rgba(89, 107, 128, 0.9);
    --secondary-color: rgba(240, 240, 240, 0.9);
    --focus-color: #ffcc00;
    --footer-color: #393732;
    --heading-font: 'Acre', sans-serif;
    --font-family: 'Montserrat', sans-serif;
    --size-title: clamp(4rem, 2.789rem + 4.038vw, 12rem);
    --size-headsection: clamp(1.7rem, 1.744rem + 1.019vw, 3rem);
    font-size: clamp(0.9rem, 0.6rem + 0.6vw, 1.35rem);
}

.ta{
    text-align: center;
}

.textual-highlights {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    row-gap: 25px;
    column-gap: 25px;
    padding: 75px;
}

.width{
    width: 100%;
}

.ml15{
    margin-left: 15rem !important;
}

.justifyCenter{
    justify-content: center;
}

.rowGap5{
    row-gap: 5px !important;
}

.textual-highlights p {
    margin: 0;
}

.textual-highlights p:nth-child(3) {
    width: 100%;
    font-weight: 500;
}
.fw500{
    font-weight: 500;
}

@media (max-width:666px){
    .textual-highlights p:nth-child(3){
        width: auto;
    }
}

.textual-highlights .big-text {
    font-size: clamp(3rem,
            2.1857rem + 3.4286vw,
            6.3rem);
    letter-spacing: 2px;
    line-height: normal;
}

.textual-highlights .small-text {
    line-height: 1.8rem;
    font-size: 18px;
}

.textual-highlights, .text-text {
    font-size: clamp(0.7rem,
            0.9857rem + 1.0286vw,
            1.3rem);
    letter-spacing: 2px;
    line-height: 2.3rem;
}

.textual-highlights .medium-text {
    font-size: clamp(1.7rem,
            1.7857rem + 2.4286vw,
            3.3rem);
    letter-spacing: 2px;
    line-height: normal;
}

html,
body {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    scroll-behavior: smooth;
    line-height: 1.4rem;
}

.mauto {
    margin: 0 auto;
}

.mb1 {
    margin-bottom: 1rem;
}

.mb2 {
    margin-bottom: 2rem;
}

.mb3 {
    margin-bottom: 3rem !important;
}

.mb5 {
    margin-bottom: 5rem !important;
}

.ml2 {
    margin-left: 2rem;
}

.ml3 {
    margin-left: 3rem;
}

.ml5 {
    margin-left: 5rem;
}

.ml6 {
    margin-left: 6rem;
}

.ml8 {
    margin-left: 8rem !important;
}

.ml25{
    margin-left: 25rem !important;
}

.mr5{
    margin-right: 5rem !important;
}

.mt2 {
    margin-top: 2rem;
}

.mt5 {
    margin-top: 5rem;
}

.mt9 {
    margin-top: 9rem;
}

.pd5 {
    padding-bottom: 5rem;
}

span {
    font-weight: bold;
}

.McButton {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    width: 44px;
    height: 33px;

    cursor: pointer;
    z-index: 100000;
    display: none;
}

.McButton b {
    position: absolute;
    width: 44px;
    height: 4px;
    background-color: var(--main-bg-color);
}

.McButton b:nth-child(1) {
    top: 0
}

.McButton b:nth-child(2) {
    top: 50%;
}

.McButton b:nth-child(3) {
    top: 100%;
}

.m-button-up {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: white;
    color: black;

    position: fixed;
    right: 10px;
    bottom: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 200ms ease-in-out;
    transform-origin: center center;
    z-index: 99;
}

.m-button-up:hover {
    transform: scale (1.2);
    color: var(--focus-color);
}

@media(max-width:750px){
    .text-text{
        line-height:2rem;
    }
    .ml25{
        margin-left: 10rem !important;
    }
}

@media(max-width:600px){
    .text-text{
        line-height:1.6rem;
        font-size: clamp(0.6rem, 0.8857rem + 0.9286vw, 1.2rem);
    }
    .textual-highlights{
        padding: 50px;
        gap:25px;
    }
    .textual-highlights .big-text {
        font-size: clamp(2rem, 1.1857rem + 2.4286vw, 6.3rem);
        letter-spacing: 2px;
        line-height: normal;
    }
    .ml15{
        margin-left: 7rem !important;
    }
}
@media(max-width:500px){
    .text-text{
        line-height: 1.4rem;
        letter-spacing: 0.5px;
    }
}

@media(max-height:980px){
    .biocontainers{
        height: auto;
    }
}